#root {
    width: 100vw;
    height: 100vh;
    .allPage {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        .header {
            width:100%;
            height:10%;
        }
        .body {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            position: auto;
            justify-content: space-between;
        }
    }
   
}
input{
    direction: rtl;
    text-align: right;
}