.CreateCourseForm{
    display: flex;
    flex-direction: column;
    margin:5px;
    form{
        margin:10px;
        display: flex;
        flex-direction: column;
        .formRow{
            display: flex;
            direction: row;
            // justify-content: space-between;
            align-items: center;
            span{
                display: flex;
                align-items: center;
            }
        }
        .ButtonDiv{
            display: flex;
            margin-top:10px;
            width: 100%;
            align-content: center;
            align-items: center;
            justify-content: center;
        }
    }
}