.coursePaper {
    display: flex;
    width:80%;
    .coursePreview {
        display: flex;
        flex-direction: column;
        direction: rtl;
        width:100%;
        .courseLabel {
            display: flex;
            align-items: center;
        }
        .smallFont {
            font-size: 10px;
            display: flex;
        }
        .row {
            display: flex;
        }
        .courseHeader {
            display: flex;
            justify-content: space-between;
        }
    }
}

