.coursePaper {
    display: flex;
    flex-direction: column;
    width:90%;
    .coursePreview {
        display: flex;
        flex-direction: column;
        direction: rtl;
        width:100%;
        .courseLabel {
            display: flex;
            align-items: center;
        }
        .row {
            display: flex;
            z-index:1;
            // justify-content: space-between;
            margin:1% 4% 1% 4%;
            .rowLabel {
                font-weight: bold;
                white-space: nowrap;
                margin-left: 10%;
                width:20%;
               
            }
        }
        .footer {
            display: flex;
            flex-direction: row-reverse;
            .joinButton {
                margin: 1% 3%;
                display: flex;
                .MuiButton-label-78 {
                    display: flex;
                    justify-content: space-between;
                    width:100%;
                }
            }
        }
        
        .courseLabel {
            font-size:115%;
            font-weight: bold;
        }
        .courseHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;
            justify-content: center;
            .coursePhotoWrap {
                width:90%;
                display: flex;
                align-items: center;
                justify-content: center;
                height:8vh;
                .coursePhoto {
                    height: 100%;
                    width: auto;
                }
            }
                
                .openIcon {
                    width:10%;
                    height: 100%;
                }
            }
            
    }
}