.coursePaper {
    display: flex;
    flex-direction: column;
    width:90%;
    .coursePreview {
        display: flex;
        flex-direction: column;
        direction: rtl;
        width:100%;
        .courseLabel {
            display: flex;
            align-items: center;
        }
        .smallFont {
            font-size: 10px;
            display: flex;
        }
        .row {
            display: flex;
            z-index:1;
        }
        .courseHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;
                justify-content: center;
            .coursePhotoWrap {
                width:90%;
                display: flex;
                align-items: center;
                justify-content: center;
                height:8vh;
                .coursePhoto {
                    height: 100%;
                    width: auto;
                }
            }
                
                .openIcon {
                    width:10%;
                    height: 100%;
                }
            }
            
    }
}