.filter {
    z-index: 3;
    width:40%;
    // word-break: break-all;
    position: absolute;
    // position: -webkit-sticky;
    right: 7%;
    .filterContent {
        display: flex;
        flex-direction: column;
        .row {
            display: flex;
            flex-direction: row;
            .rowInput {
                // width:50%;
            }
        }
    }
}