.filter {
    z-index: 3;
    width:20%;
    word-break: break-all;
    // position: sticky;
    // position: -webkit-sticky;
    // left: 0;
    // top:0;
    .filterContent {
        display: flex;
        flex-direction: column;
        .row {
            display: flex;
            flex-direction: row;
            .rowInput {
                width:50%;
            }
        }
    }
}